//  variable colors
$blue-black: #0b132b;
$blue-dark: #A2D2FF;
$blue-light: #BDE0FE;
$lavender: #CDB4DB;
$lavender-dark: #9c89b8;
$pink-dark: #FFAFCC;
$pink-light: #FFC8DD;
$white: #f2fdff;

// margins


// borders

// padding

// image